@font-face {
  font-family: 'justTellMeWhat';
  src: url("../fonts/tellMeWhat/JustTellmeWhatRegular(Version 2).otf") format("otf"); }
.thin_font {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
  font-variant: normal; }

.gross_font {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif, 'justTellMeWhat' !important;
  font-variant: normal;
  font-weight: bold; }

.color_font_white {
  color: #FFFFFF; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#header_body {
  background-image: url("../../../img/website/header.jpg");
  height: 200px; }

.background_color_header {
  background-color: #589BB4 !important; }

.background_color_footer {
  background-color: #57B17C !important; }

.round_border {
  border-radius: 0px !important;
  border: 0px !important; }

div.remove_margins, header.remove_margins {
  margin: 0 !important; }

.ui.basic.white.button .button, .ui.basic.white.button {
  -webkit-box-shadow: 0 0 0 1px #FFFFFF inset !important;
  box-shadow: 0 0 0 1px #FFFFFF inset !important;
  color: #FFFFFF !important; }
.ui.basic.white.button:hover {
  background-color: transparent !important; }
.ui.basic.white.button .button:hover {
  background-color: transparent !important; }

/*# sourceMappingURL=base.css.map */
