@font-face {
  font-family: 'justTellMeWhat';
  src: url("../fonts/tellMeWhat/JustTellmeWhatRegular(Version 2).otf") format("otf"); }
.thin_font {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
  font-variant: normal; }

.gross_font {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif, 'justTellMeWhat' !important;
  font-variant: normal;
  font-weight: bold; }

.color_font_white {
  color: #FFFFFF; }

a.text_color {
  color: #FFFFFF; }
a.links_hover {
  text-decoration: none;
  position: relative;
  color: #FFFFFF; }
a.links_hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #FFFFFF;
  transition: 0.4s; }
a.links_hover:hover:after {
  width: 100%; }
a.header_link {
  color: #FFFFFF !important; }

div.font-title, h2.font-title {
  font-size: 1.5em; }
div.font_size_one_em, h2.font_size_one_em {
  color: #FFFFFF;
  font-size: 1em !important; }

/*# sourceMappingURL=fonts.css.map */
