div .without_margin_main, h2 .without_margin_main, h3 .without_margin_main {
  margin: 0rem 0 !important; }
div .space_padding_top_fifteen, h2 .space_padding_top_fifteen, h3 .space_padding_top_fifteen {
  padding-top: 15px; }
div.top_spaces_sections_center, h2.top_spaces_sections_center, h3.top_spaces_sections_center {
  margin-top: 25px; }

a.top_space_anchor_onefive {
  margin-top: 1.5rem !important; }

/*# sourceMappingURL=spaces.css.map */
