<div>

    <div class="" *ngIf="flagSuccessM">
        <sui-message class="success" #message (click)="dismiss(message)">
            <div class="header">
                <i class="check circle icon"></i>
                Record Added
            </div>
            <p>
                The record has been addded successfully.
            </p>
        </sui-message>
    </div>

    <div class="" *ngIf="flagErrorsM && errorCode == 0">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="times circle icon"></i>
                Error - Please verify the fields
            </div>
            <p>
                Please check the fields highligthed in red.
            </p>
        </sui-message>
    </div>

    <div class="" *ngIf="errorCode == 400 && errorStatus == 'ERROR'">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="check circle icon"></i>
                {{ errorStatus }}
            </div>
            <p>
                {{ errorMessage }}
            </p>
        </sui-message>
    </div>

    <div class="ui stacked segment">
        <form [formGroup]="formGroupAdd" (ngSubmit)="createRecord()" class="ui large form" enctype="multipart/form-data">

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.publishedBy.errors?.required }">
                <label for="publishedBy">Published By</label>
                <div class="ui fluid input">
                    <input type="text" placeholder="Published By" name="publishedBy" formControlName="publishedBy">
                </div>
                <div class="errors">
                    <span *ngIf="submitedForm && f.publishedBy.errors?.required">
                        Published By is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.postname.errors?.required }">
                <label for="postname">Post Name</label>
                <div class="ui fluid input">
                    <input type="text" placeholder="Post Name" name="postname" formControlName="postname">
                </div>
                <div class="errors">
                    <span *ngIf="submitedForm && f.postname.errors?.required">
                        Post Name is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.description.errors?.required }">
                <label for="description">Description</label>
                <textarea name="description" formControlName="description" placeholder="Description" rows="4">
                </textarea>
                <div class="errors">
                    <span *ngIf="submitedForm && f.description.errors?.required">
                        Description is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.payment.errors?.required }">
                <label for="payment">Payment</label>
                <div class="ui fluid input">
                    <input type="text" placeholder="Payment" name="payment" formControlName="payment">
                </div>
                <div class="errors">
                    <span *ngIf="submitedForm && f.payment.errors?.required">
                        Payment is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.city.errors?.required }">
                <label for="city">City</label>
                <select class="ui fluid dropdown" name="city" formControlName="city">
                    <option value="">Select an option</option>
                    <option value="1">City 1</option>
                    <option value="2">City 2</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.city.errors?.required">
                        City is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.category.errors?.required }">
                <label for="category">Category</label>
                <select class="ui fluid dropdown" name="category" formControlName="category">
                    <option value="">Select an option</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.category.errors?.required">
                        Category is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.options.errors?.required }">
                <label for="optionsALabel">Options</label>
                <select class="ui fluid dropdown" name="options" formControlName="options" (change)="disabledEnabledFields($event)">
                    <option value="">Select an option</option>
                    <option value="1">Images</option>
                    <option value="2">Videos</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.options.errors?.required">
                        Options is required.
                    </span>
                </div>
            </div>

            <div class="field">
                <label for="fileALabel">Image</label>
                <div class="ui fluid input">
                    <input type="file" placeholder="Select an Image" name="file" formControlName="file" (change)="onFilesLoad($event)">
                </div>
            </div>

            <div class="field">
                <label for="videoUrlLabel">Video URL</label>
                <div class="ui left icon input">
                    <i class="youtube icon"></i>
                    <input type="text" name="urlVideo" placeholder="URL Video YouTube" formControlName="urlVideo">
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.status.errors?.required }">
                <label for="statusALabel">Status</label>
                <select class="ui fluid dropdown" name="status" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.status.errors?.required">
                        Status is required.
                    </span>
                </div>
            </div>

            <button class="ui large teal submit button" type="submit">
                Save
            </button>
            <button class="ui large yellow button" type="button" (click)="clearFields()">
                Clear
            </button>
            <button class="ui large negative button" type="button" (click)="cancelOption()">
                Cancel
            </button>
        </form>
    </div>

</div>
