div {
    &.margins-bids {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    &.main-comments-container {
        height: 520px !important; 
        min-height: 200px !important;
        margin-top: 25px !important;
    }

    &.main-no-comments-container {
        height: 200px !important; 
        min-height: 200px !important;
        margin-top: -12px !important;
    }

    &.paddings-bids-right {
        padding-bottom: 3px !important;
        padding-top: 3px !important;
    }

    &.padding-div-removed {
        padding: 0 !important;
    }
}