<div class="ui column centered grid font_size_labels blue_bold margins-bids"
    *ngIf="totalRecords != 0 && postStatus == 1">
    CURRENT BIDS
</div>
<div class="ui column centered grid font_size_labels blue_bold margins-bids" *ngIf="totalRecords == 0 && postStatus == 1">
    CURRENTLY, THERE ARE NO BIDS!
</div>
<div class="ui column centered grid font_size_labels blue_bold margins-bids" *ngIf="totalRecords != 0 && postStatus == 0">
    <div>Bid Accepted</div><br>
    <div>Bid of the user {{ username }} has been acepted.</div>
</div>

<div class="ui stackable segment sixteen wide column main-comments-container" style="overflow: auto" *ngIf="totalRecords != 0 && postStatus == 1">

    <div>
        <div *ngFor="let bids of bidsData">
            <div class="ui grid">
                <div class="ui sixteen wide column">
                    <div class="ui two column grid">
                        <div class="two column row">
                            <div class="column blue_bold">
                                {{ bids.username }}
                            </div>
                            <div class="column right aligned just-italic">
                                {{ bids.date_created | date: 'mediumDate' }}
                            </div>
                        </div>
                    </div>
                    <div class="ui one column paddings-bids-right">
                        <span class="blue_bold">Bid:</span> 
                        <span class="black_bold left-space-minimum">{{ bids.offer | currency }}</span>
                    </div>
                    <div class="ui two column grid">
                        <div class="two column row">
                            <div class="column">
                                <button class="ui small positive button fluid" (click)="aceptDeclineBid(2, bids.bid)">
                                    <i class="check circle icon"></i>
                                    Accept
                                </button>
                            </div>
                            <div class="column">
                                <button class="ui small negative button fluid" (click)="aceptDeclineBid(3, bids.bid)">
                                    <i class="times circle icon"></i>
                                    Decline
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui sixteen wide column divider padding-div-removed"></div>
            </div>
        </div>
    </div>

</div>