<div class="top_breads">
    <app-breadcrumbs [title]="title" [breads]="breads">
    </app-breadcrumbs>

    <div class="top_breads">
        <sui-message class="info" [isDismissable]="false">
            <div class="header">
                <i class="info icon"></i>
                Select an option to add information will be displayed to the users
                we're going to use the platform.
            </div>
        </sui-message>
    </div>

    <div class="ui grid container top breads">
        <div class="sixteen wide column">&nbsp;</div>
        <div class="sixteen wide column">
            <h3 class="blue_bold">
                Please, select an option:
            </h3>
        </div>
        <div class="sixteen wide column">
            <ul>
                <li>
                    <a routerLink="/admin/about-us/list" class="general_blue">
                        About Us Admin
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/banners/list" class="general_blue">
                        Banners Admin
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/how-it-works/list" class="general_blue">
                        How it Works Admin
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/termsconditions/list" class="general_blue">
                        Terms and Conditions Admin
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/users-lists/list-all-users" class="general_blue">
                        List of Users
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>