{% extends 'layout.html' %}

{% block title %} - Contact us {% endblock %}

{% block content %}
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <label for="subject">Subject</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="subject" placeholder="Subject" class="" id="subject" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <div class="ui left icon input">
                            <i class="envelop icon"></i>
                            <input type="text" name="email" placeholder="Email (john.doe@example.com)" id="email" class="">
                        </div>
                    </div>
                    <div class="field">
                        <label for="phone">Phone # (Optional)</label>
                        <div class="ui left icon input">
                            <i class=""></i>
                            <input type="text" name="phone" placeholder="Phone # (Optional)" id="phone" class="">
                        </div>
                    </div>
                    <div class="field">
                        <label for="comment">Comments</label>
                        <textarea name="comments" id="comments"></textarea>
                    </div>
                    <div class="field">
                        <button class="ui fluid teal button right">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
{% endblock %}
