<div class="ui grid">
    <div class="two column row">
        <div class="eight wide column bread_center">
            <div class="ui breadcrumb" *ngFor="let bread of breads">
                <div>
                    <a [routerLink]="bread.link" *ngIf="bread.isLink">
                        {{ bread.text }}
                    </a>
                    <i class="right angle icon divider" *ngIf="bread.isLink"></i>
                </div>
                <div *ngIf="!bread.isLink" class="active section">
                    {{ bread.text }}
                </div>
            </div>
        </div>
        <div class="eight wide column right aligned">
            <h2>
                {{ title }}
            </h2>
        </div>
    </div>
</div>
