<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
        </div>
        
        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <div>&nbsp;</div>
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no bids finished!
                </div>
                <p>
                    Currently you don't have bids finished where you were participating.
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div class="" *ngIf="codeResponse == 400 && statusResponse == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Category</th>
                    <th>Bid Winner</th>
                    <th>User Winner</th>
                    <th>Bid Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let bidsData of myBidsActive">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ bidsData.project_name }}</td>
                    <td>{{ bidsData.category }}</td>
                    <td>{{ bidsData.bid_winner }}</td>
                    <td>{{ bidsData.user_winner }}</td>
                    <td>{{ (bidsData.status_bid == "1") ? 'Open' : 'Finished' }}</td>
                    <td>
                        <a routerLink="/bids/end-bids/view-all-bids/{{bidsData.project_id}}" class="ui teal button">
                            <i class="eye icon"></i>
                            View All Bids
                        </a>
                        <a class="ui positive button" routerLink="/posts/view/{{bidsData.project_id}}">
                            <i class="paper plane icon"></i>
                            Go the Project
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>