<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>
        
        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no data in "Banners" section.
                </div>
                <p>
                    If you have not inserted data in "Banners" section, please insert it click in in the add button.
                </p>
            </sui-message>
            <div>&nbsp;</div>
            <div>
                <a class="ui small primary labeled icon button" routerLink="/admin/banners/create">
                    <i class="clipboard icon"></i>
                    Add Record
                </a>
            </div>
        </div>
    
        <div class="" *ngIf="flagDeleteRecord">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div class="" *ngIf="codeResponse == 200 && messageStatus == 'OK' && flagSuccessRecord">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerMessage }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
    
        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/banners/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
                <tr>
                    <th>Section</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody *ngFor="let banners of bannersList">
                <!-- here we put the code for loop the data -->
                <tr>
                    <td>{{ banners.section }}</td>
                    <td>{{ banners.description | truncate: 80 }}</td>
                    <td>{{ (banners.status == "1") ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <a routerLink="/admin/banners/view-banner/single/{{banners.id}}" class="ui teal button">
                            <i class="eye icon"></i>
                            View
                        </a>
                        <a class="ui teal button" (click)="openViewerFiles('viewFiles', banners.type_file, (banners.type_file == 1) ? banners.file : banners.url)">
                            <i class="{{ (banners.type_file == '1') ? 'image outline icon' : 'file video outline icon' }}"></i>
                            {{ (banners.type_file == "1") ? 'View Image' : 'View Video' }}
                        </a>
                        <a routerLink="/admin/banners/update/{{banners.id}}" class="ui teal button">
                            <i class="edit icon"></i>
                            Edit
                        </a>
                        <a class="ui yellow button" *ngIf="banners.status == 1" (click)="open('Inactive Record', 
                                                                                            'Are you sure you want to inactive the record selected?',
                                                                                            banners.id, 2,
                                                                                            'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive
                        </a>
                        <a class="ui positive button" *ngIf="banners.status == 2" (click)="open('Active Record',
                                                                                            'Are you sure you want to active the record selected?',
                                                                                            banners.id, 1,
                                                                                            'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active
                        </a>
                        <a class="ui negative button" (click)="deleteRecord('Delete Record',
                                                                            'Are you sure you want to delete the record selected?',
                                                                            banners.id,
                                                                            'Yes', 'No')">
                            <i class="trash alternate icon"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th colspan="6">
                        <a class="ui right floated small primary labeled icon button" routerLink="/admin/banners/create">
                            <i class="clipboard icon"></i>
                            Add Record
                        </a>
                    </th>
                </tr>
            </tfoot>
        </table>
    
    </div>
</div>

<jw-modal id="viewFiles">
    <div class="ui grid">
        <div class="ui centered five wide column">
            <h1 class="blue_bold center-text">
                <span *ngIf="type_file == 1">View Image</span>
                <span *ngIf="type_file == 2">View Video</span>
            </h1>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <p class="blue center-text">
                <span *ngIf="type_file == 1 || type_file == '1'">
                    <img src="{{ file }}" alt="">
                </span>
                <span *ngIf="type_file == 2 || type_file == '2'">
                    <div [innerHtml]="file"></div>
                </span>
            </p>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <button class="ui positive right floated button" (click)="closeViewerFiles('viewFiles')">
                <i class="close icon"></i>
                Close
            </button>
        </div>
    </div>
</jw-modal>