<app-breadcrumbs [title]="title" [breads]="breads">
</app-breadcrumbs>

<div class="one column row">
    <div class="one wide column">&nbsp;</div>

    <div class="" *ngIf="errorCode === 400 && errorStatus === 'ERROR'">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="times circle icon"></i>
                {{ errorStatus }}
            </div>
            <p>
                {{ errorMessage }}
            </p>
        </sui-message>
    </div>

    <div class="one wide column">
        {{ infoData?.description }}
    </div>

    <div class="one wide column">&nbsp;</div>

    <div class="one wide column">
        <div *ngIf="infoData?.type_file === 1">
            <img src="{{ infoData?.file_resize }}" class="center_img" alt="About Us Img" />
        </div>
        <div *ngIf="infoData?.type_file === 2" class="center_div">
            <div [innerHtml]="videoFrame"></div>
        </div>
    </div>
</div>