<div>
    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="" *ngIf="flagDeleteRecord && codeResponse == 400 && messageStatus == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>
    
        <div class="" *ngIf="codeResponse == 200 && messageStatus == 'OK' && flagSuccessRecord">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerMessage }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
        </div>

        <div class="ui stacked segment">
            <form [formGroup]="formGroupView" class="ui large form">
    
                <div class="field">
                    <label for="sectionAboutLabels">Section</label>
                    <div class="ui left icon input">
                        <i class="list icon"></i>
                        <input type="text" value="About Us" name="section" formControlName="section">
                    </div>
                </div>
    
                <div class="field required">
                    <label for="descriptionAbout">Description</label>
                    <app-ngx-editor [config]="editorConfig" [spellcheck]="true" formControlName="description"></app-ngx-editor>
                </div>
    
                <div class="field required">
                    <label for="optionsALabel">Options</label>
                    <select class="ui fluid dropdown" name="options" formControlName="options">
                        <option value="">Select an option</option>
                        <option value="1">Images</option>
                        <option value="2">Videos</option>
                    </select>
                </div>
    
                <div class="field required">
                    <label for="fileALabel">Image</label>
                    <div class="ui fluid input">
                        <input type="file" placeholder="Select an Image" name="file" formControlName="file">
                    </div>
                    <div *ngIf="typeFile == 1">
                        <span>
                            <img src="{{ fileString }}" alt="Image {{ id }}" width="50px" height="50px">
                        </span>
                        <span>
                            {{ nameString }}
                        </span>
                        <span>
                            <a [routerLink]="" (click)="viewImageOpen('viewImage')">
                                <i class="eye icon"></i>
                                View Image
                            </a>
                        </span>
                    </div>
                </div>
    
                <div class="field required">
                    <label for="videoUrlLabel">Video URL</label>
                    <div class="ui left icon input">
                        <i class="youtube icon"></i>
                        <input type="text" name="urlVideo" placeholder="URL Video YouTube" formControlName="urlVideo">
                    </div>
                    <div *ngIf="typeFile == 2">
                        <span>
                            <div [innerHtml]="videoImage"></div>
                        </span>
                        <span>
                            {{ nameString }}
                        </span>
                        <span>
                            <a [routerLink]="" (click)="viewImageOpen('viewImage')">
                                <i class="eye icon"></i>
                                View Video
                            </a>
                        </span>
                    </div>
                </div>
    
                <div class="field required">
                    <label for="statusALabel">Status</label>
                    <select class="ui fluid dropdown" name="status" formControlName="status">
                        <option value="">Select Status</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                    </select>
                </div>

                <div class="field">
                    <label for="dateCreatedAboutLabels">Date Created</label>
                    <div class="ui left icon input">
                        <i class="calendar alternate outline icon"></i>
                        <input type="text" name="date_created" placeholder="Date Created" formControlName="date_created">
                    </div>
                </div>

                <div class="field">
                    <label for="dateUpdatedAboutLabels">Date Updated</label>
                    <div class="ui left icon input">
                        <i class="calendar alternate outline icon"></i>
                        <input type="text" placeholder="Date Updated" name="date_updated" formControlName="date_updated">
                    </div>
                </div>

                <button class="ui large teal submit button" type="button" (click)="returnBack()">
                    <i class="reply icon"></i>
                    Return Back
                </button>
                <a routerLink="/admin/about-us/update/{{id}}" class="ui large teal button">
                    <i class="edit icon"></i>
                    Edit
                </a>
                <a class="ui large yellow button" *ngIf="status == 1" (click)="open('Inactive Record', 
                                                                                    'Are you sure you want to inactive the record selected?',
                                                                                    id, 2,
                                                                                    'Yes', 'No')">
                    <i class="ban icon"></i>
                    Inactive
                </a>
                <a class="ui large green button" *ngIf="status == 2" (click)="open('Active Record',
                                                                                    'Are you sure you want to active the record selected?',
                                                                                    id, 1,
                                                                                    'Yes', 'No')">
                    <i class="check circle outline icon"></i>
                    Active
                </a>
                <a class="ui large negative button" (click)="deleteRecord('Delete Record',
                                                                'Are you sure you want to delete the record selected?',
                                                                id,
                                                                'Yes', 'No')">
                    <i class="trash alternate icon"></i>
                    Delete
                </a>
            </form>
        </div>

    </div>

</div>

<jw-modal id="viewImage">
    <div class="ui grid">
        <div class="ui centered five wide column">
            <h1 class="blue_bold center-text">
                <span *ngIf="typeFile == 1 || typeFile == '1'">View Image - Record {{ id }}</span>
                <span *ngIf="typeFile == 2 || typeFile == '2'">View Video - Record {{ id }}</span>
            </h1>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <p class="blue center-text">
                <span *ngIf="typeFile == 1 || typeFile == '1'">
                    <img src="{{ fileString }}" alt="">
                </span>
                <span *ngIf="typeFile == 2 || typeFile == '2'">
                    <div [innerHtml]="fileString"></div>
                </span>
            </p>
        </div>
        <div class="ui sixteen wide column">
            <div class="ui divider"></div>
        </div>
        <div class="ui sixteen wide column">
            <button (click)="viewImageClose('viewImage')" class="ui positive right floated button">
                <i class="close icon"></i>
                Close
            </button>
        </div>
    </div>
</jw-modal>