<div>
    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>

        <div class="one column row">
            <div>&nbsp;</div>
            <div class="sixteen center aligned wide column">
                <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
            </div>
            <div>&nbsp;</div>
        </div>

        <div class="" *ngIf="flagError && codeResponse == 400 && statusResponse == 'ERROR'">
            <sui-message class="negative" [isDismissable]="false">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div *ngIf="flagSuccess && codeResponse == 200 && statusResponse == 'OK'">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerResponse }}
                </div>
                <p>
                    {{ messageResponse }}
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div class="ui grid top_space_post bottom_space_post">
            <div class="title sixteen wide column">
                {{ postName }}
            </div>
            <div class="ui sixteen wide column divider"></div>
            <div class="eleven wide column margin_top_column">

                <!--img src="https://static.grandvoyage.com/img/la_perla_del_indico_y_maldivas_cascada_en_sri_lanka-790x395.jpg" -->
                <!-- h: 460px, w: 760px -->
                <app-slider-carousel [elements]="elements"></app-slider-carousel>

            </div>
            <div class="five wide column margin_top_column">
                <div class="ui stacked segment font_size_info color_blue_text_post">
                    <div>
                        <i class="user icon"></i>
                        Posted by <span class="color_bold_black">{{ username }}</span>
                    </div>
                    <div class="space_info_data">
                        <i class="dollar sign icon"></i>
                        <span class="color_green_bolder">$ {{ postPayments }}</span>
                    </div>
                    <div class="space_info_data">
                        <i class="images icon"></i>
                        {{ cityPost }}, {{ country }}
                    </div>
                    <div class="space_info_data">
                        <i class="suitcase icon"></i>
                        {{ categoryPost }}
                    </div>
                    <div class="space_info_data">
                        <i class="calendar alternate icon"></i>
                        Published at {{ createdAt | date: 'fullDate' }}
                    </div>
                    <div class="space_info_data">
                        <span class="color_green_bolder" *ngIf="status == 1">
                            <i class="check icon"></i>
                            Project Available
                        </span>
                        <span class="color_red_bolder" *ngIf="status != 1">
                            <i class="times icon"></i>
                            Project Closed
                        </span>
                    </div>
                    <div class="ui divider" *ngIf="authentication"></div>
                    <div *ngIf="authentication">
                        <div *ngIf="status == 1">
                            <a class="ui negative fluid button" (click)="reportJob(postId, userN, userSec, userLogin)">
                                <i class="bullhorn icon"></i>
                                Report Project as Fake
                            </a>
                        </div>
                        <div *ngIf="status == '0' && owner == username">
                            <app-paypal-custom [postId]="postId" [postPayments]="postPayments"></app-paypal-custom>
                        </div>
                    </div>
                    <div class="ui divider" *ngIf="authentication && checkIsNotOwner()"></div>
                    <div *ngIf="authentication && checkIsNotOwner()">
                        <div>&nbsp;</div>
                        <div>
                            <a class="ui teal fluid button" (click)="makeAnOffer()">
                                <i class="tags icon"></i>
                                Make an Offer
                            </a>
                        </div>
                        <div *ngIf="makeOffer" class="margin_form_offer">
                            <div class="ui action fluid input">
                                <input type="text" placeholder="$" [(ngModel)]="amountOffer" name="amountOffer">
                                <button class="ui positive right labeled icon button" (click)="sendOffer()">
                                    <i class="dollar sign icon"></i>
                                    Offer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui sixteen wide column divider"></div>
            <div class="ui sixteen wide column margin_top_column">
                <div class="color_blue_text_post font_size_labels"> 
                    <span class="just_bolder">Project Description</span>
                </div>
                <div class="overflow_description space_info_data font_size_info">
                    {{ postDescription }}
                </div>
            </div>
            <div class="ui sixteen wide column divider"></div>
            <!-- here is the comments -->

            <div class="ui eleven wide column">
                <app-publish *ngIf="postId && status == 1" [post]="postId" [user]="user" [status]="status" [username]="username"></app-publish>
                
                <sui-tabset *ngIf="status == 0">
                    <div class="ui top attached tabular menu">
                        <a class="item" suiTabHeader="1">
                            <i class="comments icon"></i>
                            Bids Comments
                        </a>
                        <a class="item" suiTabHeader="2">
                            <i class="comments outline icon"></i>
                            Winner Comments
                        </a>
                    </div>

                    <div class="ui bottom attached segment" suiTabContent="1">
                        <app-publish *ngIf="postId" [post]="postId" [user]="user" [status]="status" [username]="username"></app-publish>
                    </div>
                    <div class="ui bottom attached segment" suiTabContent="2">
                        <app-winner-comments *ngIf="postId" [post]="postId" [user]="user" [status]="status" [username]="username"></app-winner-comments>
                    </div>
                </sui-tabset>

            </div>

            <div class="ui five wide column">
                <app-displaybids *ngIf="postId" [post]="postId" [postStatus]="status" (backObj)="getMessagesComponent($event)"></app-displaybids>
            </div>
        </div>

    </div>
</div>
