@mixing font-face {
    font-family: 'justTellMeWhat';
    src: url('../fonts/tellMeWhat/JustTellmeWhatRegular(Version 2).otf') format('otf');
}

.thin_font {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
    font-variant: normal;
}

.gross_font {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif, 'justTellMeWhat' !important;
    font-variant: normal;
    font-weight: bold;
}

.color_font_white {
    color: #FFFFFF;
}
