@import 'fontsMixin';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header_body {
    background-image: url('../../../img/website/header.jpg');
    height: 200px;
}

.background_color_header {
    background-color: #589BB4 !important;
}

.background_color_footer {
        background-color: #57B17C !important;
}

.round_border {
    border-radius: 0px !important;
    border: 0px !important;
}

div, header {
    &.remove_margins {
        margin: 0 !important;
    }
}

.ui.basic.white.button {
    .button, & {
        -webkit-box-shadow : 0 0 0 1px #FFFFFF inset !important;
        box-shadow         : 0 0 0 1px #FFFFFF inset !important;
        color              : #FFFFFF !important;
    }

    &:hover {
        background-color: transparent !important;
    }

    .button:hover {
        background-color: transparent !important;
    }
}
