@import 'fontsMixin';

$color_font: #FFFFFF;

a {
    &.text_color {
        color: $color_font;
    }

    &.links_hover {
        text-decoration: none;
        position: relative;
        color: $color_font;
    }

    &.links_hover:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: 2px solid $color_font;
        transition: 0.4s;
    }

    &.links_hover:hover:after {
        width: 100%;
    }

    &.header_link {
        color: $color_font !important;
    }
}

div, h2 {
    &.font-title {
        font-size: 1.5em;
    }

    &.font_size_one_em {
        color: $color_font;
        font-size: 1em !important;
    }
}
