div, h2, h3 {
    .without_margin_main {
        margin: 0rem 0 !important;
    }

    .space_padding_top_fifteen {
        padding-top: 15px;
    }

    &.top_spaces_sections_center {
        margin-top: 25px;
    }
}

a {
    &.top_space_anchor_onefive {
        margin-top: 1.5rem !important;
    }
}
