/* You can add global styles to this file, and also import other style files */
@import '../semantic/dist/semantic.min.css';
@import './assets/scss/stylesFonts.scss';
@import './assets/scss/styleSpaces.scss';
@import './assets/scss/customComponents.scss';
@import './assets/scss/colors.scss';
@import './assets//scss//modals.scss';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

/**
 * Variables
 */
$green : #57B17C;
$blue  : #589BB4;
$white : #FFFFFF;

/**
 * STYLES WILL BE USED ON ALL THE SITE
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.background_blue_color {
    background-color: $blue !important;
}

.background_green_color {
    background-color: $green !important;
}

#header_img_layout {
    background-image: url('/assets/img/website/header.jpg');
    height: 185px;
}

.border_color_main_menu {
    border-color    : $white !important;
}

/**
 * BORDERS AND SPACES
 */
.round-borders {
    border: 0px !important;
    border-radius: 0px !important;
}
