<owl-carousel [options]="carouselOptions" [items]="elements" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item sizes" *ngFor="let element of elements;let i=index">
        <div *ngIf="element.type_file == 1">
            <img class="ui centered image slide-image img_size" [src]="element.thumb"  (click)="clickOpen(i)">    
            <div class="slide-text">
                <h4>
                    {{ element.description }}
                </h4>
            </div>
        </div>
        <div *ngIf="element.type_file == 2" (click)="openVideo()">
            <div [innerHtml]="element.url_thumb" (click)="openVideo()"></div>
        </div>
    </div>
</owl-carousel>