{% extends 'layout.html' %}

{% block title %} - Sign In {% endblock %}

{% block content %}
    <div class="two colum row">
        &nbsp;
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">
            <form class="ui large form">
                <div class="ui stacked segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" class="" placeholder="Username" id="id" name="_username" />
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" class="" placeholder="Password" id="password" name="_password" />
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui fluid large teal submit button">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
    <div class="two column row">
        &nbsp;
    </div>
{% endblock %}
