{% extends 'layout.html' %}

{% block title %} - Sign Up {% endblock %}

{% block content %}
    <div class="two colum row">
        &nbsp;
    </div>
    <div class="three column row">
        <div class="one wide column">&nbsp;</div>
        <div class="fourteen wide column">

            <div class="ui info message">
                <div class="header">
                    <i class="exclamation circle icon"></i>
                    Create New Account
                </div>
                <p>
                    Please selecte the type of account would you like to create!
                </p>
            </div>

            <div class="ui fluid stackable steps">
                <div class="step">
                    <i class="address card icon"></i>
                    <div class="content">
                        <div class="title">New Account</div>
                        <div class="description">
                            Create New Account
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="check circle icon"></i>
                    <div class="content">
                        <div class="title">Confirmation</div>
                        <div class="description">
                            Confirm Your Account
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="user circle icon"></i>
                    <div class="content">
                        <div class="title">LogIn</div>
                        <div class="description">
                            LogIn With Your User
                        </div>
                    </div>
                </div>
                <div class="step">
                    <i class="pencil arternate icon"></i>
                    <div class="content">
                        <div class="title">Publish Project</div>
                        <div class="description">
                            Start to Publish Projects
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui top attached tabular menu">
                <a class="item" data-tab="contractor">
                    Contractor
                </a>
                <a class="item" data-tab="home_owner">
                    Home Owner
                </a>
            </div>

            <div class="ui bottom attached tab segment" data-tab="contractor">
            </div>

            <div class="ui bottom attached tab segment" data-tab="home_owner">
            </div>

        </div>
        <div class="one wide column">&nbsp;</div>
    </div>
    <div class="two column row">
        &nbsp;
    </div>
{% endblock %}
