.app-title {
    font-size: 24px;
}
  
.box-title {
    font-size: 20px;
}
  
.box-container {
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    padding: 24px;
    margin: 24px auto;
    border-radius: 4px;
    color: #555;
    background-color: #eee;
    box-shadow:
      0 6px 20px rgba(0, 0, 0, 0.18),
      0 6px 6px rgba(0, 0, 0, 0.25);
}
  
.info-container {
    padding: 12px 16px;
    line-height: 24px;
}
  
.action-container,
.content-container {
    position: relative;
    overflow: auto;
    height: auto;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.action-container {
    padding: 16px;
}

.vertical-container,
.horizontal-container {
    min-height: 0 !important;
}
  
.action-button {
    box-sizing: border-box;
    width: calc(100% - 16px);
    min-height: 35px;
    padding: 4px 16px;
    margin: 8px;
    //border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}
  
.action-button:hover {
    color: #fff;
    //background-color: #555;
}
  
.swiper-container {
    //position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.swiper-slide {
    color: #aaa;
    //background-color: #eee;
}

.swiper-slide-active {
    color: #fff;
    //background-color: #aaa;
}

.img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}