<div class="ui grid">

    <div class="sixteen wide column" *ngIf="codeResponse == 400 && statusResponse == 'ERROR'">
        <div>&nbsp;</div>
        <sui-message class="negative" [isDismissable]="false">
            <header>
                <i class="times circle icon"></i>
                {{ statusResponse }}
            </header>
            <p>
                {{ messageResponse }}
            </p>
        </sui-message>
    </div>

    <div class="one column row">
        <div>&nbsp;</div>
        <div class="sixteen center aligned wide column">
            <app-steps-breadcrumbs [steps]="steps"></app-steps-breadcrumbs>
        </div>
    </div>

    <div class="sixteen wide column">
        <app-slider-carousel [elements]="elements"></app-slider-carousel>
    </div>

    <div class="sixteen wide column">
        <div>
            <h2 class="blue_bold">
                Learn more about Contractors Bids
            </h2>
            <p class="blue font-size-comments">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus tincidunt metus. Aliquam erat volutpat. In placerat 
                elementum erat, nec gravida dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus urna, eget laoreet mi. 
                Aenean fermentum tortor quis tristique viverra. Etiam sodales quam non laoreet vulputate. Mauris ac tellus et dui iaculis porttitor 
                quis eu justo. Vestibulum accumsan sit amet dolor ut rutrum. Integer bibendum mauris sapien. In placerat elementum erat, nec gravida 
                dui sodales a. Nulla malesuada eget urna rhoncus tempus. Sed sit amet finibus urna, eget laoreet mi. Aenean fermentum tortor quis 
                tristique viverra. Etiam sodales quam non laoreet vulputate. Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum 
                accumsan sit amet dolor ut rutrum. Integer bibendum mauris sapien. In placerat elementum erat, nec gravida dui sodales a. Nulla 
                malesuada eget urna rhoncus tempus. Sed sit amet finibus urna, eget laoreet mi. Aenean fermentum tortor quis tristique viverra. 
                Etiam sodales quam non laoreet vulputate. Mauris ac tellus et dui iaculis porttitor quis eu justo. Vestibulum accumsan sit amet 
                dolor ut rutrum. Integer bibendum mauris sapien.
            </p>
        </div>
    </div>

    <div class="sixteen wide column" *ngIf="totalPosts != 0">
        <div>
            <h2 class="blue_bold">
                Most Recent Projects...
            </h2>
        </div>
    </div>
    <div class="sixteen wide column" *ngIf="totalPosts == 0">
        <sui-message class="info" [isDismissable]="false">
            <header>
                <i class="info circle icon"></i>
                There are no Projects
            </header>
            <p>
                Currently, there are no projects published!
            </p>
        </sui-message>
    </div>

    <div class="sixteen wide column" *ngIf="totalPosts != 0">

        <!-- start post -->
        <div class="ui divided items" *ngFor="let post of posts">
            <div class="item">

                <div class="image">
                    <img src="{{ post.image }}" alt="Recent Post">
                </div>
                <div class="content">
                    <div class="header">{{ post.name }}</div>
                    <div class="meta">
                        <span class="cinema">{{ post.category }}</span>
                    </div>
                    <div class="description">
                        <p>{{ post.description }}</p>
                    </div>
                    <div class="extra">
                        <a routerLink="/posts/view/{{post.id}}" class="ui right floated mini primary button">
                             Project Details
                            <i class="right chevron icon"></i>
                        </a>
                        <div class="ui label">
                            <i class="globe icon"></i>
                            {{ post.city }}, {{ post.country }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- finish post -->
        
        <div class="sixteen right aligned wide column" style="float: right !important">
            <a class="ui large teal button">
                <i class="eye icon"></i>
                See more projects
            </a>
        </div>
    </div>

</div>