<div>

    <div class="ui column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>
    
        <div class="sixteen wide column" *ngIf="totalRecords == 0">
            <sui-message class="info" [isDismissable]="false">
                <div class="header">
                    <i class="info icon"></i>
                    There are no users registered on the platform.
                </div>
                <p>
                    Currently there are no users registered on the platform!
                </p>
            </sui-message>
            <div>&nbsp;</div>
        </div>

        <div class="" *ngIf="flagUpdate == false && codeData == 400 && statusData == 'ERROR'">
            <sui-message class="negative" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="times circle icon"></i>
                    Error
                </div>
                <p>
                    {{ messageData }}
                </p>
            </sui-message>
        </div>
        <div class="" *ngIf="flagUpdate && codeData == 200 && statusData == 'OK'">
            <sui-message class="success" #message (click)="dismiss(message)">
                <div class="header">
                    <i class="check circle icon"></i>
                    {{ headerData }}
                </div>
                <p>
                    {{ messageData }}
                </p>
            </sui-message>
        </div>
        <div>&nbsp;</div>

        <table class="ui stripped celled table" *ngIf="totalRecords != 0">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Type User</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- here we put the code for loop the data -->
                <tr *ngFor="let user of usersList">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ (user.type_user == 0) ? 'Contractor' : 'Home Owner' }}</td>
                    <td>{{ (user.is_active == 1) ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <a routerLink="/admin/users-lists/view-user/{{ user.id }}/{{ user.is_active }}/personal" class="ui teal button">
                            <i class="eye icon"></i>
                            View
                        </a>
                        <a class="ui yellow button" *ngIf="user.is_active == 1" (click)="open('Inactive User', 
                                                                                            'Are you sure you want inactive the user selected ' + user.username + '?',
                                                                                            user.id, 1,
                                                                                            'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive
                        </a>
                        <a class="ui positive button" *ngIf="user.is_active == 0" (click)="open('Active User',
                                                                                            'Are you sure you want to active the user selected ' + user.username + '?',
                                                                                            user.id, 2,
                                                                                            'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active
                        </a>
                        <a class="ui negative button" *ngIf="user.is_active != 2" (click)="deleteRecord('Delete User',
                                                                                           'Are you sure you want to delete the user selected?',
                                                                                           user.id,
                                                                                           'Yes', 'No')">
                            <i class="trash alternate icon"></i>
                            Delete
                        </a>
                        <a class="ui negative button">
                            <i class="exclamation triangle icon"></i>
                            Send a Warning
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>