<div>

    <app-breadcrumbs [title]="title" [breads]="breads">
    </app-breadcrumbs>
    
    <div class="" *ngIf="flagSuccessM">
        <sui-message class="success" #message (click)="dismiss(message)">
            <div class="header">
                <i class="check circle icon"></i>
                Record Added
            </div>
            <p>
                The record has been addded successfully.
            </p>
        </sui-message>
    </div>

    <div class="" *ngIf="flagErrorsM && errorCode == 0">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="times circle icon"></i>
                Error - Please verify the fields
            </div>
            <p>
                Please check the fields highligthed in red.
            </p>
        </sui-message>
    </div>

    <div class="" *ngIf="errorCode == 400 && errorStatus == 'ERROR'">
        <sui-message class="negative" [isDismissable]="false">
            <div class="header">
                <i class="check circle icon"></i>
                {{ errorStatus }}
            </div>
            <p>
                {{ errorMessage }}
            </p>
        </sui-message>
    </div>

    <div class="ui stacked segment">
        <form [formGroup]="formGroupAdd" (ngSubmit)="newRecordCreated()" class="ui large form" enctype="multipart/form-data">

            <div class="field">
                <label for="sectionAboutLabels">Section</label>
                <div class="ui left icon input">
                    <i class="list icon"></i>
                    <input type="text" value="About Us" name="section" formControlName="section">
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.description.errors?.required }">
                <label for="descriptionAbout">Description</label>
                <app-ngx-editor [config]="editorConfig" [spellcheck]="true" formControlName="description"></app-ngx-editor>
                <div class="errors">
                    <span *ngIf="submitedForm && f.description.errors?.required">
                        Description is required.
                    </span>
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.options.errors?.required }">
                <label for="optionsALabel">Options</label>
                <select class="ui fluid dropdown" name="options" formControlName="options" (change)="disabledEnabledFields($event)">
                    <option value="">Select an option</option>
                    <option value="1">Images</option>
                    <option value="2">Videos</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.options.errors?.required">
                        Options is required.
                    </span>
                </div>
            </div>

            <div class="field required">
                <label for="fileALabel">Image</label>
                <div class="ui fluid input">
                    <input type="file" placeholder="Select an Image" name="file" formControlName="file" (change)="onFilesLoad($event)">
                </div>
            </div>

            <div class="field required">
                <label for="videoUrlLabel">Video URL</label>
                <div class="ui left icon input">
                    <i class="youtube icon"></i>
                    <input type="text" name="urlVideo" placeholder="URL Video YouTube" formControlName="urlVideo">
                </div>
            </div>

            <div class="field required" [ngClass]="{ 'error' : submitedForm && f.status.errors?.required }">
                <label for="statusALabel">Status</label>
                <select class="ui fluid dropdown" name="status" formControlName="status">
                    <option value="">Select Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
                <div class="errors">
                    <span *ngIf="submitedForm && f.status.errors?.required">
                        Status is required.
                    </span>
                </div>
            </div>

            <button class="ui large teal submit button" type="submit">
                <i class="save icon"></i>
                Save
            </button>
            <button class="ui large yellow button" type="button" (click)="clearFields()">
                <i class="eraser icon"></i>
                Clear
            </button>
            <button class="ui large negative button" type="button" (click)="cancelOption()">
                <i class="reply icon"></i>
                Return Back
            </button>
        </form>
    </div>

</div>