<div class="three column row">
    <div class="one wide column">&nbsp;</div>

    <div class="fourteen wide column">

        <app-breadcrumbs [title]="title" [breads]="breads">
        </app-breadcrumbs>
        <br>

        <div class="twelve wide column">

            <div class="">
                <sui-message class="info" [isDismissable]="false">
                    <div class="header">
                        <i class="edit icon"></i>
                        User Information of {{ userInfo.username }}
                    </div>
                </sui-message>
            </div>
            <div class="" *ngIf="code == 400 && status == 'ERROR' && flag == false">
                <div>&nbsp;</div>
                <sui-message class="success">
                    <div class="header">
                        <i class="check circle icon"></i>
                        {{ status }}
                    </div>
                    <p>
                        {{ messages }}
                    </p>
                </sui-message>
            </div>

            <div class="" *ngIf="flag && code == 200 && status == 'OK'">
                <div>&nbsp;</div>
                <sui-message class="success" #message (click)="dismiss(message)">
                    <div class="header">
                        <i class="check circle icon"></i>
                        {{ header }}
                    </div>
                    <p>
                        {{ messages }}
                    </p>
                </sui-message>
            </div>
            <div>&nbsp;</div>

            <div class="ui segment">
                <form [formGroup]="adminPersonal" class="ui large form">

                    <div class="ui segment">
                        <div class="field required">
                            <label for="username">Username</label>
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" placeholder="Username" name="username" formControlName="username">
                            </div>
                        </div>

                        <div class="field required">
                            <label for="name">Name</label>
                            <div class="ui left icon input">
                                <i class="user circle icon"></i>
                                <input type="text" placeholder="Name" name="name" formControlName="name">
                            </div>
                        </div>

                        <div class="field required">
                            <label for="email">Email</label>
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input type="email" placeholder="Email (john@doe.com)" name="email" formControlName="email">
                            </div>
                        </div>

                        <div class="field required">
                            <label for="phone">Phone #</label>
                            <div class="ui left icon input">
                                <i class="phone icon"></i>
                                <input type="tel" placeholder="Phone #" name="phone" formControlName="phone">
                            </div>
                        </div>
                    </div>

                    <div class="ui segment">
                        <div class="field">
                            <label for="payments">Payment Method</label>
                            <select name="ui fluid dropdown" name="payments" formControlName="payments">
                                <option value="0">Select Payment Method</option>
                                <option value="1">Cash</option>
                                <option value="2">Credit Card</option>
                                <option value="3">Debit</option>
                                <option value="4">E-Transfer</option>
                            </select>
                        </div>

                        <div class="field">
                            <label for="bbb_account">BBB Account (john@doe.com)</label>
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input type="email" placeholder="BBB Account (john@doe.com)" name="bbb_account" formControlName="bbb_account">
                            </div>
                        </div>

                        <div class="field">
                            <div class="inline fields">
                                <label for="bbbAccreditedLabel">Are you BBB Accredited?</label>
                                <div class="field">
                                    <input type="radio" name="accredited" value="1" checked="" formControlName="accredited">
                                    <label for="yesLabel">Yes</label>
                                </div>
                                <div class="field">
                                    <input type="radio" name="accredited" value="0" checked="true" formControlName="accredited">
                                    <label for="noLabel">No</label>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="raiting">Raiting</label>
                            <div class="ui left icon input">
                                <i class="star icon"></i>
                                <input type="text" placeholder="Raiting" name="raiting" formControlName="raiting">
                            </div>
                        </div>

                        <div class="field">
                            <label for="wcb_number">WCB Number</label>
                            <div class="ui left icon input">
                                <i class="hashtag icon"></i>
                                <input type="text" name="wcb_number" placeholder="WCB Number" formControlName="wcb_number">
                            </div>
                        </div>

                        <div class="field">
                            <label for="address">Address</label>
                            <div class="ui left icon input">
                                <i class="address card icon"></i>
                                <input type="text" placeholder="Address" name="address" formControlName="address">
                            </div>
                        </div>
                    </div>

                </form>
                <div class="space-button-top">
                    <a routerLink="/admin/users-lists/list-all-users" class="ui teal button">
                        <i class="reply icon"></i>
                        Back to the Users List
                    </a>
                    <a class="ui yellow button" *ngIf="is_active == 1" (click)="open('Inactive User', 
                                                                                            'Are you sure you want inactive the user selected ' + username + '?',
                                                                                            id, 1,
                                                                                            'Yes', 'No')">
                            <i class="ban icon"></i>
                            Inactive Account
                        </a>
                        <a class="ui positive button" *ngIf="is_active == 0" (click)="open('Active User',
                                                                                            'Are you sure you want to active the user selected ' + username + '?',
                                                                                            id, 2,
                                                                                            'Yes', 'No')">
                            <i class="check circle outline icon"></i>
                            Active Account
                        </a>
                    <a class="ui negative button">
                        <i class="exclamation triangle icon"></i>
                        Send a Warning
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="one wide column">&nbsp;</div>
</div>