/**
 *
 */

$white : #FFFFFF;
$blue  : #589BB4;
$black : #000000;

div, h3, h2, h1, h4, p {
    & .blue_bold {
        color: $blue !important;
        font-weight: bolder;
    }

    & .black_bold {
        color: $black !important;
        font-weight: bolder;
    }

    & .white_bold {
        color: $white !important;
        font-weight: bolder;
    }

    & .blue_normal {
        color: $blue !important;
        font-weight: bolder;
    }

    & .white, & .text {
        color: $white;
    }

    & .blue {
        color: $blue;
    }
}